<% posts.forEach(function(post) { %>
<div class="post" id="post-id-<%= post._id %>" data-id="<%= post._id %>" data-timestamp="<%= post.createdAt %>" >
 
  <!-- Content area -->
  <div class="content postcontent" >
    <div class="meta">
      <span class="username">
          <% if (post.author) { %>
              @<%- post.author.username %>
          <% } else { %>
              匿名さん
          <% } %>  
      </span>
      <span class="createdAt">
        <%- moment(post.createdAt).fromNow() %>
      </span>
        </div>
    <div class="body"  data-comments-visible="false">
      <%= post.content %>
    </div>
     <div class="meta button-container">
            <button  class="btn btn-link faa-parent animated-hover" onClick="addVote(this,'<%- post._id %>',1);"><i class="fa fa-smile-o faa-tada"></i> +<%- post.likes %></button>
            <button  class="btn btn-link faa-parent animated-hover" onClick="addVote(this,'<%- post._id %>',-1);"><i class="fa fa-frown-o faa-tada"></i> -<%- post.dislikes %></button>
            <button  class="btn btn-link faa-parent animated-hover" onClick="showComment(this,'<%- post._id %>');"><i class="fa fa-comment faa-tada"></i> <%- post.comments.length %></button>
            <a href="/posts/<%- post._id %>/newcomment" class="btn-link faa-parent animated-hover" ><i class="fa fa-reply faa-shake"></i>返信</a>
           <!--<% if (post.comments) { %>-->
              <!--<button class="btn btn-link" onClick="showComment(this,'<%- post._id %>');"><i class="icon-comment "></i> <%= post.comments.length %></button>-->
           <!--<% } %>-->
           
    </div>
 </div>
 
 <!-- Comments area -->
 <div id = 'post_<%- post._id %>_comment_area' >
 </div>
 </div>
<% }) %>
