<% posts.forEach(function(post) { %>
<div class="post" data-id="<%= post._id %>" data-timestamp=<%= post.createdAt %>>
  <!--<% if (post.author) { %>
    <img class="thumbnail" src="<%- getGravatarImage(post.author.email, { size: 65 }) %>" />
  <% } else { %>
    <img class="thumbnail" src="<%- getGravatarImage('anoymous', { size: 65 }) %>" />
  <% } %>-->  
  <div class="content" id="postcontent">
    <div class="meta">
      <span class="username">
          <% if (post.author) { %>
              @<%- post.author.username %>
          <% } else { %>
              匿名さん
          <% } %>  
      </span>
      <span class="createdAt">
        <%- moment(post.createdAt).fromNow() %>
      </span>
        </div>
    <div class="body">
      <%= post.content %>
    </div>
    
     <div class="meta button-container">
          <form method="post" action="/posts/<%= post._id %>/up_vote">
            <button class="btn btn-link" type="submit" ><i class="icon-smile"></i> +<%- post.likes %></button>
        </form>
        <form method="post" action="/posts/<%= post._id %>/down_vote">
            <button class="btn btn-link" type="submit" ><i class="icon-frown"></i> -<%- post.dislikes %></button>
        </form>
        <form action="/posts/<%= post._id %>/comments">
           <% if (post.comments) { %>
              <button class="btn btn-link" type="submit" ><i class="icon-comment "></i> <%= post.comments.length %></button>
           <% } %>  
        </form>
    </div>  
   </div>
</div>
<% }) %>
