<%- include layout/header.html %>

	
    <div id="headerwrap" >
		
				<h1 >辛いことを吐き出そう</h1>
			    <form  action="/posts">
                    <h3><button class="btn-danger btn-large" type="submit"><i class="fa fa-arrow-circle-o-right"></i>　今から投稿します　</button></h3>
                </form>
                
				<br>
				<br>
                <h4>「自分の感情を解放したく泣きたくなったりしますが、泣けないのが悩みです。」　</h4>
                <h4>　この場合、自傷を抑えるのが苦しいなら、涙を出してあげてください。　</h4>
                <h4>　その涙は、あなたのストレス・感情となり、外に吐き出してくれますよ、きっと。　</h4>
			
	</div><!-- /headerwrap -->
  

<%- include layout/footer.html %>
