<%- include layout/header.html %>

<div class="vertical-center">
<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4 vertical-center">

    <h3>ログイン</h3>
    <hr />

    <form action="/login" method="post">
      <div class="form-group">
        <label for="loginUser">ユーザー名</label>
        <input type="text" name="username" placeholder="ユーザー名"
        class="form-control" id="loginUser">
      </div>
      <div class="form-group">
        <label for="loginPass">パスワード</label>
        <input type="password" name="password" placeholder="パスワード"
        class="form-control" id="loginPass">
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">ログイン</button>&nbsp;
        <button type="button" onclick="history.go(-1);" class="btn btn-default btn-large">戻る</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<%- include layout/footer.html %>
