<%- include layout/header.html %>
<div class="vertical-center">
<div class="container">
<div class="row">
<div class="col-lg-offset-3 col-lg-6">
    
    <% if ( typeof user != "undefined" && user) { %>  
      <form id="comment-form-<%- postid %>" action="/comments" method="POST">
          <input type="hidden" name="postid" value ="<%- postid %>" >
          <div class="form-group">
                  <textarea class="form-control" rows="7" name="content"
                    id="new-post-content" maxlength="255"></textarea>

                  <p class="counter">
                    <span id="char-counter">255</span> 文字残り
                  </p>
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary btn-large">返信</button>&nbsp;
                  <button type="button" onclick="history.go(-1);" class="btn btn-default btn-large">戻る</button>
                </div>
     </form>
    <% } else { %>
          <p>ログインしてからコメントしてください。<span><a href="/login">ログイン</a> or <a href="/register">登録</a></span></p>
          <button type="button" onclick="history.go(-1);" class="btn btn-default btn-large">戻る</button>
    <% } %>


        </div>
     </div>
  </div>
</div>
<%- include layout/footer.html %>

