<%- include layout/header.html %>


    <div class="container vertical-center">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
                    
            <form action="/posts" method="POST">
                        
                <h3>投稿</h3>
              
                <div class="form-group">
                  <textarea class="form-control" rows="7" name="content"
                    id="new-post-content" maxlength="255"></textarea>

                  <p class="counter">
                    <span id="char-counter">255</span> 文字残り
                  </p>
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary btn-large">投稿</button>&nbsp;
                  <button type="button" onclick="history.go(-1);" class="btn btn-default btn-large">戻る</button>
                </div>
              </form>
          </div>
        </div>
  </div>

<%- include layout/footer.html %>