body {
    /*background-color: #f2f2f2;*/
    background-color: #222222;
    color: white;
    /*font-family: 'EB Garamond', serif;*/
    /*font-family: 'Noto Sans Japanese', sans-serif;*/
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

    ::selection {
    color: white; 
    background: #f85c37;
    }

/* Links */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


#sitetitle {
	/*background: url(../img/IMG_0145.jpg) no-repeat center top;*/
	margin-top: -20px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
  width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sitetitle h1 {
	margin-top: 150px;
	color: white;
	font-size: 70px;
	font-weight: 700;
}

#sitetitle h3 {
	color: white;
	font-size: 30px;
	font-weight: 100;
    /*font-family: 'EB Garamond', serif;*/
    
}


/* POST CONF*/
#posts {
    background-color: #101010;
    min-height: 100%;
    height: 100%;
}

.post {
  /*border: 1px solid #CCC;*/
  /*border-radius: 2px;*/
  /*box-shadow: 1px 1px 3px #DEDEDE;*/
  border-bottom: 1px solid #CCC;
  margin: 0 0 10px 0;
  padding: 5px;
  overflow: hidden;
  text-align: left;
  
color: white;
font-size: 18px;
font-weight: 300;
font-family: 'Noto Sans Japanese', sans-serif;
font-style: oblique;
}

.post .thumbnail {
  float: left;
  width: 65px;
  height: 65px;
  border: none;
  margin-bottom: 0;
}
.post .content {
  padding-left: 5px;
}

.postcontent i {
	  font-size: 18px;
    padding: 3px;
    color: lightyellow;
}

.postcontent .btn-link {
	font-size: 18px;
    text-decoration: none;
    color: lightyellow;
}

.postcontent .btn-link:focus {
  outline: none;
}



.post .body {
  color: white;
  vertical-align: middle;
  font-size: 18px;
  
  
}
.post .meta {
  color: #999;
  margin: 10px 0;
}


.counter {
  color: #999;
  margin: 10px 0;
}
#posts .loading {
  /*background: url('../img/ajax-loader.gif') no-repeat 10px center #DEDEDE;*/
  background-color:  #999;
  font-size: 18px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 10px;
}

#post-updates {
  margin: 0;
  display: none;
  line-height: 32px;
}
#post-updates, #post-updates > * {
  color: cadetblue;
}

.comment-area textarea{
 background-color: #1a1a1a;
 color: lightyellow;
}


/* BUTTONS */
.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}

.comment {
  
  margin: 0 0 0 0;
  padding: 5px;
  overflow: hidden;
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-style: oblique;
}

.comment .content {
  padding-left: 5px;
}
.comment .body {
  vertical-align: middle;
  font-size: 18px;  
}
.comment .meta {
  color: #999;
  margin: 1px 0;
}
/*
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
*/

.postcontent .btn-link:hover, .postcontent .btn-link:hover i{
    color: #f85c37;
    text-decoration: none;
}
.btn-danger {
  background-color: #f85c37;
}

.postcontent  * .fa-disabled, .postcontent  * .fa-disabled:hover  {
  color: gray;
}
.postcontent  * .fa-disabled, .postcontent  * .fa-disabled:hover  i{
  color: gray;
}
.postcontent  .fa-disabled  *, .postcontent  .fa-disabled  *:hover{
  color: gray;
}

.comment-container {
   border-radius: 25px;
    border: 1px solid lightyellow;
    
    
}

