
    <!--</div>-->

    
   
    
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!--<script type="text/javascript" src="/js/lib/jquery.min.js"></script>-->
    <script type="text/javascript" src="/js/lib/classie.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/smoothscroll.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/lib/primus.js"></script>
    <script type="text/javascript" src="/js/core.js"></script>
    <script type="text/javascript" src="/js/vote.js"></script>
</html>
